.nav-item {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
        0 0 1px rgba(255, 255, 255, 0.1), 0 0 50px rgba(255, 255, 255, 0.3),
        0 0 10px rgba(255, 255, 255, 0.5);
}
.el1{
    padding-left: 110px; 
    padding-top:70px;
}

body {
    font-family: "Inter", sans-serif;
}

/* animasi konten */
.animated {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.fadeInLeft {
    animation: fadeInLeft 1s ease forwards;
}

.fadeInRight {
    animation: fadeInRight 1s ease forwards;
}

/* Definisi animasi kustom */
@keyframes fadeInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.BRO {
    font-weight: 500;
    padding-left: 40px;
    text-align: left;
    color: #ffffff;
}

.text-uppercase {
    font-weight: 700;
    padding-left: 40px;
    text-align: left;
    color: #f6dda4;
    font-size: 35px;
}

.mayan{
    padding-left: 45px; 
    padding-top: 25px; 
    width:80%;
}

.tulisan{
    font-weight: 700; 
    font-style: italic; 
    padding-top:40px;
}

.tulisan2{
    text-align: justify; 
        color:beige; 
        padding-top:23px;
        font-size:20px;
}
.tulisan3{
    text-align: justify; 
    color:beige; 
    padding-top:23px; 
    font-size:20px;
}
.will{
    font-weight: 700; 
    font-size:35px; 
    font-style: italic; 
    padding-left:50px; 
    padding-bottom: 30px;
    padding-top:18px; 
    color:#ffff; 
    text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 1);
}

.invi{
    text-align: justify; 
    font-size:23px;
}

.peta{
    border-radius: 55px; 
    cursor: pointer; 
    width: 300px; 
}

.maskot{
    padding-left: 60px; 
    height:45%;
}

.burung{
    padding-top:50px; 
    padding-left:50%; 
    height:30%
}

/* Timeline */
.timeline {
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antar event */
    position: relative;
    padding: 2rem; /* Kurangi padding */
    overflow-x: auto; /* Tambahkan scrolling horizontal */
    white-space: nowrap; /* Pastikan elemen tidak turun ke baris berikutnya */
    scrollbar-width: thin; /* Untuk browser modern */
}

/* Untuk scrollbar */
.timeline::-webkit-scrollbar {
    height: 8px;
}

.timeline::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Warna scrollbar */
    border-radius: 4px;
}

.timeline::-webkit-scrollbar-track {
    background: transparent;
}

/* Event */
.event {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 230px; /* Tentukan lebar yang konsisten untuk setiap event */
    height: 280px; /* Tentukan tinggi yang konsisten untuk setiap event */
}

/* Circle */
.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    transition: transform 0.3s ease-in-out;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle:hover {
    transform: scale(1.2);
}

/* Title and Year */
.title {
    margin: 10px 0 5px;
    font-weight: bold;
    color: white; /* Warna teks putih */
}

.year {
    color: #87cefa;
    text-shadow: 0 0 5px #fff;
}

/* Garis Antar Circle */
.event:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 18%; /* Posisi garis di tengah lingkaran */
    right: -50px; /* Jarak ke kanan */
    width: 100px; /* Panjang garis antar circle */
    height: 2px;
    background-color: white; /* Warna garis putih */
    transform: translateY(-50%);
    z-index: 0;
}

.q{
    width: 300px; 
    height: 50vh; 
    width:70vh; 
    opacity: 0; 
    visibility: hidden;
}

/* Parent container */
.container-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Default layout */
.q {
    width: 55vh;
    height: 40vh;
    opacity: 0;
    visibility: hidden;
}

.desc {
    padding: 40px;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
}

.ourmovies {
    font-weight: 700;
    text-align: center;
    color: #f6dda4;
    font-size: 28px;
}
.card {
    background-color: rgba(
        255,
        255,
        255,
        0.1
    ); /* Warna putih dengan transparansi */
    backdrop-filter: blur(0.5px); /* Efek blur di belakang card */
    border-radius: 10px; /* Sudut melengkung */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border dengan transparansi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan ringan */
}

.shine {
    padding-left: 40px;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
}

.section {
    scroll-margin-top: 70px; /* Memberikan jarak otomatis agar tidak tertutup navbar */
}


.navbar {
    background-color: rgba(0, 0, 0, 0) !important; /* Transparan */
    transition: background-color 0.3s ease;
}

/* Navbar dengan background gelap saat scrolling */
.navbar.scrolled {
    
    background-color: #969d5f !important; /* Hitam solid */
}

.nav-link.active-section {
    color: #ffffff !important; /* Warna putih */
    font-weight: 700; /* Opsional: membuat tulisan lebih tebal */
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.k1 {
    padding-top: 75px;
    padding-left: 40px;
    text-align: left;
    color: #79aad3;
    font-weight: 600;
    font-size: 25px;
}
.k2{
    display: block;
    padding-left: 40px; 
    text-align: left; 
    font-size:15px;
}

.k3{
    font-size: 20px;
}

.wel {
    padding-left: 40px;
    text-align: left;
    font-weight: 800;
    color: #e5e5e5;
    font-size: 55px;
    font-style: italic;
}

.oure{
    background-color: #79AAD3; 
    font-weight: 800; 
    border-radius: 10px; 
    padding: 6px 35px; 
    font-size:25px;
}

.desc {
    color: #e5e5e5;
    font-size: 15px;
    text-align: justify;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 3rem;
}

.desc p {
    margin-bottom: 1rem; /* Memberi jarak antar paragraf */
}

#event {
    background-color: #343434;
    padding-bottom: 80px;
}

.footer {
    background-color: #3a3f1a;
}

.footer2 {
    background-color: #21211e;
}

.biru {
    color: #79aad3;
}

.biru2 {
    color: #79aad3;
    font-weight: 800;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
        0 0 1px rgba(255, 255, 255, 0.1), 0 0 50px rgba(255, 255, 255, 0.3),
        0 0 100px rgba(255, 255, 255, 0.5);
}

.kuning {
    color: #f6dda4;
    font-weight: 700;
}

.putih {
    color: #ffffff;
    font-weight: 700;
}

.italic-text {
    font-style: italic;
}

.timeline-item span {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}

blockquote {
    font-size: 1.5rem;
    font-style: italic;
    border-left: 5px solid #ccc;
    padding-left: 10px;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.modal-isi {
    padding: 20px;
    font-size: 15px;
}

.modal-content {
    background-color: rgba(
        111,
        130,
        84,
        0.7
    ); /* Warna putih dengan transparansi */
    backdrop-filter: blur(6px); /* Efek blur di belakang card */
    border-radius: 10px; /* Sudut melengkung */
    border: 5px solid rgba(176, 179, 20, 0.5); /* Border dengan transparansi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Bayangan ringan */
}

.modal-title {
    color: #f6dda4;
    font-weight: 700;
}

.modal-body {
    color: #ffffff;
    text-align: justify;
}

.btn-outline-custom {
    border: 2px solid #f6dda4; /* Outline warna */
    color: #f6dda4; /* Warna teks */
    font-weight: 600; /* Ketebalan font */
    font-style: normal; /* Tidak italic */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow */
    transition: all 0.3s ease; /* Animasi transisi */
    display: inline-block;
}

.btn i {
    margin-left: 8px; /* Menambah jarak 8px antara teks dan ikon */
}

.btn-outline-custom:hover {
    background-color: #f6dda4;
    color: #000;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.btn-outline-custom:active {
    background-color: #f6dda4;
    color: #000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.allmovie {
    color: #f6dda4;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    font-style: italic;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3),
        0 0 1px rgba(255, 255, 255, 0.3), 0 0 50px rgba(255, 255, 255, 0.9),
        0 0 100px rgba(255, 255, 255, 0.9);
    padding: 30px;
}

.berikan {
    color: #f6dda4;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    font-style: italic;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3),
        0 0 1px rgba(255, 255, 255, 0.3), 0 0 50px rgba(255, 255, 255, 0.9),
        0 0 100px rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    max-width: 66.6667%; /* Set to col-lg-8 width (8 out of 12 columns) */
    margin: 0 auto; /* Center the element */
}

.rating-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 20px; /* Perpanjang background lebih panjang ke bawah */
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    max-width: 66.6667%;
    margin: 20px auto; /* Tambahkan margin untuk memberi jarak dengan konten lain */
}

.stars {
    display: inline-block;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    color: #f6dda4;
    font-size: 50px; /* Membuat ukuran bintang lebih besar */
    cursor: pointer;
    padding: 0 10px; /* Jarak antar bintang */
    transition: color 0.3s ease;
}

.stars label:hover,
.stars input[type="radio"]:checked ~ label {
    color: #ffd700; /* Warna emas untuk bintang yang dipilih */
}

.custom-card {
    background-color: transparent; /* Hapus latar belakang */
    border: none; /* Hapus border */
    border-radius: 0; /* Hapus sudut melengkung */
    box-shadow: none; /* Hapus bayangan */
    overflow: hidden; /* Agar gambar tidak keluar dari card */
}

.custom-card img {
    width: 100%; /* Gambar menyesuaikan lebar card */
    height: auto; /* Pertahankan aspek rasio gambar */
    transition: transform 0.3s ease-in-out; /* Animasi saat hover */
}

.custom-card img:hover {
    transform: scale(1.1); /* Perbesar gambar saat hover */
}

/* Lightbox Modal Styling */
.lightbox {
    display: none; /* Tersembunyi secara default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Latar belakang gelap transparan */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    max-width: 70%; /* Ukuran maksimal gambar, kurangi dari 90% ke 80% */
    max-height: 70%; /* Batas tinggi gambar 80% */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.lightbox-content:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
    transition: transform 0.3s ease-in-out;
}



/* .custom-card2 {
    width: 40rem;
    height: 750px;
} */

.fade-in {
    opacity: 0; /* Awalnya teks tidak terlihat */
    transform: translateY(20px); /* Mulai dengan sedikit geser ke bawah */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transisi lebih mulus */
}

.fade-in.show {
    opacity: 1; /* Teks terlihat */
    transform: translateY(0); /* Kembali ke posisi awal */
}



.floating-effect {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Bergerak sedikit ke atas */
    }
    100% {
        transform: translateY(0); /* Kembali ke posisi awal */
    }
}
.floating-effect2 {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Bergerak sedikit ke atas */
    }
    100% {
        transform: translateY(0); /* Kembali ke posisi awal */
    }
}

.floating-effect3 {
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Bergerak sedikit ke atas */
    }
    100% {
        transform: translateY(0); /* Kembali ke posisi awal */
    }
}

.image-pulse {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.image-fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.image-fade.visible {
    opacity: 1;
}

#musicModal .btn {
    margin: 10px;
}

.film-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 20px;
}

.film-container .card {
    flex: 0 0 auto; /* Membuat card tidak meluas */
    width: 300px; /* Lebar card */
    scroll-snap-align: start; /* Memastikan card terhenti dengan rapi */
}

/* Menambahkan styling untuk scroll */
.film-container::-webkit-scrollbar {
    height: 8px;
}

.film-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.film-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Styling untuk tombol scroll */
#scrollLeft,
#scrollRight {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}

#scrollLeft:hover,
#scrollRight:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.bintang {
    padding-top: 900px;
}


/* Animasi home */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text-anim {
    animation: fadeInUp 1.5s ease-out;
}

.hero-subtitle-anim {
    animation: slideInLeft 2s ease;
}

.hero-description-anim {
    animation: slideInRight 2s ease;
}


@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* Animasi Tombol Hover */
.animated-btn:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(121, 170, 211, 0.6);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
}

/* footer welcome */
.footer2 {
    font-family: 'Arial', sans-serif;
    background-color: #1A1A1A; /* Warna gelap */
    color: #ffffff; /* Teks putih */
}

.footer2 a {
    color: #79AAD3; /* Warna biru cerah */
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer2 a:hover {
    color: #ffffff; /* Berubah menjadi putih saat di-hover */
}

.footer2 img {
    border-radius: 50%; /* Membuat logo developer berbentuk lingkaran */
    transition: transform 0.3s ease;
}

.footer2 img:hover {
    transform: scale(1.1); /* Sedikit membesar saat di-hover */
}

/* footer event */
.footer {
    font-family: 'Arial', sans-serif;
    background-color: #2c3820;
    color: #ffffff; /* Teks putih */
}

.footer a {
    color: #79AAD3; /* Warna biru cerah */
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ffffff; /* Berubah menjadi putih saat di-hover */
}

.footer img {
    border-radius: 50%; /* Membuat logo developer berbentuk lingkaran */
    transition: transform 0.3s ease;
}

.footer img:hover {
    transform: scale(1.1); /* Sedikit membesar saat di-hover */
}

.zoomable:hover {
    transform: scale(1.05); /* Sedikit memperbesar gambar saat di-hover */
    transition: transform 0.3s ease;
}

/* mengatur ukuran poster */
.film-image {
    width: 100%; /* Menyesuaikan dengan ukuran kontainer */
    height: 250px; /* Tentukan tinggi gambar sesuai preferensi */
    object-fit: cover; /* Agar gambar tetap proporsional dan terpotong jika perlu */
    border-radius: 10px; /* Menambahkan sudut melengkung pada gambar */
}

/* css gallery */
.custom-image{
    border-radius: 13px;
}




/* Styling untuk mobile (kurang dari 768px) */
@media (max-width: 768px) {
    /* css home */
    .k1 {
        padding-top: 95px;
        padding-left: 40px;
        text-align: left;
        color: #79aad3;
        font-weight: 500;
        font-size: 16px;
    }
    .wel {
        padding-left: 40px;
        text-align: left;
        font-weight: 700;
        color: #e5e5e5;
        font-size: 35px;
        font-style: italic;
    }
    .k2{
        font-size: 10px;
        padding-left: 40px; 
        text-align: left; 
    }
    .k3{
        font-size: 10px;
    }
    .oure{
        background-color: #79AAD3; 
        font-weight: 600; 
        border-radius: 10px; 
        padding: 6px 35px; 
        font-size:15px;
    }

    /* Timeline */
    .timeline {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        padding: 3rem;
    }
    /* Event */
    .event {
        position: relative;
        text-align: center;
        justify-content: center;
        width: 230px; /* Tentukan lebar yang konsisten untuk setiap event */
        height: 100px; /* Tentukan tinggi yang konsisten untuk setiap event */
    }
    /* Circle */
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 10px;
        transition: transform 0.3s ease-in-out;
    }

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .circle:hover {
        transform: scale(1.2);
    }

    /* Title and Year */
    .title {
        margin: 10px 0 5px;
        font-weight: bold;
        color: white; /* Warna teks putih */
        font-size: 10px;
    }

    .year {
        color: #87cefa;
        text-shadow: 0 0 5px #fff;
        font-size: 10px;
    }
    /* Garis Antar Circle */
    .event:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 23%; /* Posisi garis di tengah lingkaran */
        right: -40px; /* Jarak ke kanan */
        width: 50px; /* Panjang garis antar circle */
        height: 2px;
        background-color: white; /* Warna garis putih */
        transform: translateY(-50%);
        z-index: 0;
    }
    .container-content {
        flex-direction: column; /* Ubah elemen menjadi kolom */
        align-items: center;    /* Pusatkan elemen secara horizontal */
    }

    .q {
        padding-top: 20px;
        order: -1; /* Pindahkan gambar ke atas */
        width: 100%; /* Sesuaikan ukuran gambar */
        height: auto;
        opacity: 1; /* Pastikan gambar terlihat */
        visibility: visible;
    }

    .desc {
        order: 0; /* Teks tetap berada di bawah gambar */
        padding: 20px;
        text-align: justify;
        opacity: 1; /* Pastikan teks terlihat */
        visibility: visible;
    }
    .footer2{
        font-size: 10px;
    }
    /*end css home */

    /* css event */
    /* notif musik */
    .modal-dialog {
        margin: 7rem; /* Tambahkan jarak margin untuk perangkat kecil */
        max-width: 70%; /* Sesuaikan lebar modal */
    }
    .modal-content {
        font-size: 15px; /* Sesuaikan ukuran font untuk layar kecil */
    }
    .btn-outline-custom {
        padding: 0.5rem 1rem; /* Sesuaikan padding tombol */
        font-size: 14px;
    }

    /* css navbar */

    /* event */
    /* css navbar */
    .nav-item {
        font-size: 16px;
        font-family: "Inter", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
            0 0 1px rgba(255, 255, 255, 0.1), 0 0 50px rgba(255, 255, 255, 0.3),
            0 0 10px rgba(255, 255, 255, 0.5);
    }

    .BRO {
        font-weight: 500;
        padding-left: 40px;
        text-align: left;
        color: #ffffff;
        font-size: 30px;

    }
    
    .text-uppercase {
        font-weight: 700;
        padding-left: 40px;
        text-align: left;
        color: #f6dda4;
        font-size: 32px;
    }

    .ning{
        font-size: 18px;
    }
    
    .mayan{
        padding-left: 10px; 
        padding-top: 25px; 
        width:100%;
        height: auto;
    }

    .tulisan{
        font-weight: 600; 
        font-size: 23px;
        font-style: italic; 
        padding-top:40px;
        padding-left: 20px;
    }

    .tulisan2{
        text-align: justify; 
        color:beige; 
        padding-top:23px;
        padding-left: 20px;
        font-size:15px;
    }

    .will{
        font-weight: 700; 
        font-size:25px; 
        font-style: italic; 
        padding-left:50px; 
        padding-top:18px; 
        color:#ffff; 
        text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 1);
    }

    .invi{
        text-align: justify; 
        font-size:17px;
    }
    .peta{
        border-radius: 55px; 
        cursor: pointer; 
        width: 200px;
        padding-top: 20px;
        padding-left: 30px;
        /* height: auto;  */
        /* box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6); */
    }

    .ourmovies {
        font-weight: 700;
        text-align: center;
        color: #f6dda4;
        font-size: 28px;
    }

    .maskot{
        padding-left: 30px; 
        height:25%;
    }

    .burung{
        padding-top:50px; 
        padding-left:50%; 
        height:23%
    }

    .tulisan3{
        text-align: justify; 
        color:beige; 
        padding-top:23px; 
        font-size:15px;
    }

    .el1{
        padding-left: 10%; 
        padding-top:70px;
    }

    .footer{
        font-size: 14px;
    }
    
}


/* Styling untuk tablet (lebih besar dari 768px tetapi lebih kecil dari 1024px) */
@media (max-width: 1024px) {
    /* css home */
    .k1 {
        padding-top: 95px;
        padding-left: 40px;
        text-align: left;
        color: #79aad3;
        font-weight: 500;
        font-size: 16px;
    }
    .wel {
        padding-left: 40px;
        text-align: left;
        font-weight: 700;
        color: #e5e5e5;
        font-size: 35px;
        font-style: italic;
    }
    .k2{
        font-size: 10px;
        padding-left: 40px; 
        text-align: left; 
    }
    .k3{
        font-size: 13px;
    }
    .oure{
        background-color: #79AAD3; 
        font-weight: 600; 
        border-radius: 10px; 
        padding: 6px 35px; 
        font-size:15px;
    }

    /* Timeline */
    .timeline {
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        padding: 3rem;
    }
    /* Event */
    .event {
        position: relative;
        text-align: center;
        justify-content: center;
        width: 230px; /* Tentukan lebar yang konsisten untuk setiap event */
        height: 100px; /* Tentukan tinggi yang konsisten untuk setiap event */
    }
    /* Circle */
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ffffff;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 10px;
        transition: transform 0.3s ease-in-out;
    }

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .circle:hover {
        transform: scale(1.2);
    }

    /* Title and Year */
    .title {
        margin: 10px 0 5px;
        font-weight: bold;
        color: white; /* Warna teks putih */
        font-size: 12px;
    }

    .year {
        color: #87cefa;
        text-shadow: 0 0 5px #fff;
        font-size: 12px;
    }
    /* Garis Antar Circle */
    .event:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 23%; /* Posisi garis di tengah lingkaran */
        right: -40px; /* Jarak ke kanan */
        width: 58px; /* Panjang garis antar circle */
        height: 2px;
        background-color: white; /* Warna garis putih */
        transform: translateY(-50%);
        z-index: 0;
    }
    .footer2{
        font-size: 12px;
    }
    /*end css home */
    /* css navbar */
    .nav-item {
        font-size: 16px;
        font-family: "Inter", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1),
            0 0 1px rgba(255, 255, 255, 0.1), 0 0 50px rgba(255, 255, 255, 0.3),
            0 0 10px rgba(255, 255, 255, 0.5);
    }

    .BRO {
        font-weight: 500;
        padding-left: 40px;
        text-align: left;
        color: #ffffff;
        font-size: 30px;

    }
    
    .text-uppercase {
        font-weight: 700;
        padding-left: 40px;
        text-align: left;
        color: #f6dda4;
        font-size: 32px;
    }

    .ning{
        font-size: 18px;
    }
    
    .mayan{
        padding-left: 10px; 
        padding-top: 25px; 
        width:100%;
        height: auto;
    }

    .tulisan{
        font-weight: 600; 
        font-size: 25px;
        font-style: italic; 
        padding-top:40px;
        padding-left: 20px;
    }

    .tulisan2{
        text-align: justify; 
        color:beige; 
        padding-top:23px;
        padding-left: 20px;
        font-size:17px;
    }

    .will{
        font-weight: 700; 
        font-size:28px; 
        font-style: italic; 
        padding-left:50px; 
        padding-top:18px; 
        color:#ffff; 
        text-shadow: 0 0 1px rgba(255, 255, 255, 1), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 1);
    }

    .invi{
        text-align: justify; 
        font-size:20px;
    }
    .peta{
        border-radius: 55px; 
        cursor: pointer; 
        width: 230px;
        padding-top: 20px;
        padding-left: 30px;
        /* height: auto;  */
        /* box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6); */
    }

    .ourmovies {
        font-weight: 700;
        text-align: center;
        color: #f6dda4;
        font-size: 28px;
    }

    .maskot{
        padding-left: 50px; 
        height:33%;
    }

    .burung{
        padding-top:50px; 
        padding-left:50%; 
        height:23%
    }

    .tulisan3{
        text-align: justify; 
        color:beige; 
        padding-top:23px; 
        font-size:17px;
    }

    .el1{
        padding-left: 10%; 
        padding-top:70px;
    }

    .footer{
        font-size: 14px;
    }
    
}
